body, input, textarea {
  color: #333333;
  font-family: Georgia, Times, serif;
  font-size: 1.35em;
  font-weight: 300;
  line-height: 1.6em;
}
input[type=text] {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
textarea {
  width: 100%;
  min-height: 400px;
}
input[type=submit], input[type=text], textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 2px dotted #777;
}
input[type=submit] {
   background-color: #FFF;
   display: inline-block;
   margin-bottom: 0;
   font-size: 1em;
}
.article h1, .article h2 {
  color: #444444;
  font-size: 2.313em;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.25em;
  margin-bottom: 50px;
}
.article .body h2, h3, h4{
  font-size: 1.8em;
  margin-bottom: 0.7em;
}
.article h1 a, .article h2 a {
  color: #444444;
  text-decoration: none;
}
a, .article h1 a:hover, .article h2 a:hover{
  color: #477b96;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.article hr {
  width: 50%;
  margin: 50px auto;
}
.header {
  color: #777;
  line-height: 1.25em;
  padding: .25em 1em 0 1em;
}
@media (max-device-width: 640px) {
  .header {
    text-align: center;
    margin-bottom: 100px;
  }
}
@media (min-device-width: 960px) {
  .container {
    width: 760px;
    margin: 100px auto;
  }
}
.title {
  text-align: center;
}
.body {
  text-align: justify;
  margin: 10px;
}
.body p, .body pre {
  margin-bottom: 1em;
}
.body code {
  display: inline;
  font-family: monospace;
}
.body pre {
  overflow-x: scroll;
  padding: 10px 15px;
  display: block;
  border: 1px solid #ddd;
  background-color: #eee;
}
.body img {
  border: 1px dotted #444;
  max-width: 100%;
}

